.cv-main-div{
    background-image: url(../images/cosmiedit1.jpg);
    background-size: cover;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.cv-section-continer{
    height: 100vh;
    width: 75vw;
    /* background-color: rgba(251, 251, 251, 0.449); */
    background: linear-gradient(to right, #4ecdc4, #556270);
    display: flex;
}

.cv-exp-section{
  
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 13px;
    justify-content: flex-end;
    /* background-color: rgba(251, 251, 251, 0.449); */
    background-image: url(../images/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products.jpg);
    background-size: cover;
    /* background-position: center; */
    /* box-shadow: 0px 0px 1px 3px aquamarine; */
    /* border-right: 1px dashed aquamarine;
    border-left: 1px dashed aquamarine; */

}

.exp-h3{
    /* border: 1px dashed whitesmoke; */
    padding: 6px 0;
    width: 100%;
    text-align: center;
    background-image: url(../images/cosmiedit.jpg);
    background-size: 200%;
    background-position: top;
    color: aquamarine;
    box-shadow: 0 0 10px black;
    border-radius: 25px;
   
}

.exp-head-content{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.exp-content-container{
    text-align: left;

}

.exp-company-span{
    font-weight: lighter;
    font-size: large;
    color:aliceblue;
}

.exp-content-container p{
    font-size: 13px;
    color: aliceblue;
}

.cv-title-spn{
    font-weight: bold;
    color:aliceblue;
}

.exp-edu-date-span{
    color: rgb(117, 157, 146);
    font-size: small;
}

.cv-city-spn{
    font-weight: bold;
    color: rgb(43, 86, 226);
}

.cv-edu-section{
    width: 33.5%;
    height: 100vh;
    /* background-color: rgba(251, 251, 251, 0.449); */
    padding: 0 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    /* box-shadow: 0 0 10px black; */
    border-right: 1px dashed aquamarine;
    border-left: 1px dashed aquamarine;
    background-image: url(../images/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products.jpg);
    background-size: cover;
}


.exp-skill-content{
  display: flex;
  justify-content: space-between;
  list-style: none;;
}

.exp-skill-content div{
    width: 50%;
    text-align: center;
}

.exp-skill-content div>p{
    /* text-align: center; */
    border-left: 1px dashed whitesmoke;
    width: 100%;
}


.exp-skill-content ul{
    list-style:none;
    text-align: left;
}


/* Cv Personal content/center section 🔽*/
.cv-personal-content{
    width: 33.5%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.user-cv-img{
    width: 110px;
    height: 110px;
    border-radius: 55px;
    position: absolute;
    top: 8.3%;
    left: 46.5%;
    border: 1px dashed aquamarine;
}

.cv-personal-content-main-div{
    text-align: center;
    /* background-color: rgba(251, 251, 251, 0.449); */
    background-image: url(../images/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products.jpg);
    background-size: cover;
    padding: 0 15px;
    width: 70%;
    height: 100%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-top: 20px;
    padding-top: 90px;
    /* box-shadow: 0 0 10px black; */
    border: 1px dashed aquamarine;
    border-bottom: none;
}

.cv-personal-info{
    padding-bottom: 15px;
    border-bottom: 1px dashed whitesmoke;
}

.cv-name-title-container{
    display: flex;
    flex-direction: column;
}

.cv-name-title-container h2{
    margin: 0;
}

.cv-name-title-container p{
    margin: 0;
}

.cv-personal-data{
   padding-top: 15px;
   padding-bottom: 15px;
}

.social-media-pages{
    /* padding-top: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top: 1px dashed white; */
}

.media-icon-contianer{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 10px;
}

.media-icon{
    font-size: 25px;
}

.personal-desc-p{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: small;
    color: azure;
}

.cv-fName-lName{
    color: aliceblue;
}

.cv-content-child{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 7px;
}

.cv-content-child h5{
    margin: 0;
    font-weight: bold;
    padding-bottom: 3px;
}

 .cv-content-child p{
    margin:0;
    font-size: small;

}

.cv-err-msg{
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(153, 153, 153, 0.564);
    width: 20%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    border-radius: 10px;
    border: 0.5px solid red;
}

.cv-err-icon{
    font-size: 22px;
    color: red;
    filter: drop-shadow(0px 0px 2px red);
}

.p-info-header{
    color: rgb(188, 220, 255);
    font-family:monospace;
    font-weight: bold;
    font-size: larger;
}

.p-info-paragraph{
    color: azure;
}