.cv-main-div{
    background: linear-gradient(140deg, #2C3E50, #000000);
    height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
}

.cv-section-continer{
    height: 100vh;
    width: 75vw;
    background-color: #2C3E50;
    display: flex;
}

.cv-exp-section{
  
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 13px;
    justify-content: flex-end;
}

.exp-h3{
    border: 1px dashed whitesmoke;
    border-left: none;
    border-right: none;
    padding: 6px 0;
    width: 100%;
    text-align: center;
   
}

.exp-head-content{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.exp-content-container{
    text-align: left;

}

.exp-company-span{
    font-weight: bold;
    font-size: large;
    color: rgb(114, 156, 199);
}

.exp-content-container p{
    font-size: 13px;
    color: aliceblue;
}



.cv-edu-section{
    width: 33.5%;
    height: 100vh;
    background-color:darkred;
    padding: 0 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}


.exp-skill-content{
  display: flex;
  justify-content: space-between;
  list-style: none;;
}

.exp-skill-content div{
    width: 50%;
    text-align: center;
}

.exp-skill-content div>p{
    /* text-align: center; */
    border-left: 1px dashed whitesmoke;
    width: 100%;
}


.exp-skill-content ul{
    list-style:none;
    text-align: left;
}


/* Cv Personal content/center section 🔽*/
.cv-personal-content{
    width: 33.5%;
    height: fit-content;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.cv-personal-content-main-div{
    text-align: center;
    background-color: blueviolet;
    padding: 0 15px;
    width: 70%;
    height: 100vh;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.cv-personal-info{
    padding-bottom: 15px;
    border-bottom: 1px dashed whitesmoke;
}

.cv-name-title-container{
    display: flex;
    flex-direction: column;
}

.cv-name-title-container h2{
    margin: 0;
}

.cv-name-title-container p{
    margin: 0;
}

.personal-desc-p{
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: small;
}

.cv-content-child{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 7px;
}

.cv-content-child h5{
    margin: 0;
    font-weight: bold;
    padding-bottom: 3px;
}

 .cv-content-child p{
    margin:0;
    font-size: small;

}
