.cv-form-main-div{
    width: 100%;
    height: 93vh;
    text-align: center;
}

.cv-form-container{
    background-image: url(../images/banner-default.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 92vh;
    justify-content: center;
    align-items: center;
}

.cvF-container-child{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    background-color: rgba(250, 250, 250, 0.359);
    border-right: 1px solid rgb(75, 41, 75);
    border-top: 1px solid rgb(75, 41, 75);
    border-left: 1px solid  rgb(69, 68, 68);
    border-bottom: 1px solid  rgb(69, 68, 68);
    color: rgb(255, 255, 255);
    height: 70vh;
    width: 34vw;
    font-size: small;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(75, 41, 75, 0.44);
}

.cv-personal-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.cv-personal-info input{
    padding: 5px;
    border: none;
    background-color: rgba(75, 41, 75, 0.644);
    border: 0.5px solid cadetblue;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.438);
}

.cv-personal-info input:focus{
    border: none;
    border-bottom: 1px solid cadetblue;
    color: azure;
    outline: none;
    background-color: rgba(255, 255, 255, 0.194);
}

.cv-personal-info input::placeholder{
    color: rgb(130, 183, 225) !important;
    font-size: smaller;
}


.glbl-input{
    padding: 5px;
    border: none;
    background-color: rgba(75, 41, 75, 0.644);
    border: 0.5px solid cadetblue;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.438);
}

.glbl-input:focus{
    border: none;
    border-bottom: 1px solid cadetblue;
    color: azure;
    outline: none;
    background-color: rgba(255, 255, 255, 0.194);
}

.dark-purple-line{
 width: 3vw !important;
 height: 0.5px !important;
 background-color: aquamarine;
 padding: 0 !important;
 border: 0.1px solid black;
}

.dark2{
    margin: auto;
}

.cvF-name-div{
    display: flex;
}

.cvF-name-child{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px;
}

.child-main-container{
    

    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.last-name-container{
    display: flex;
    justify-content: end;
}    

.cvF-info-child2{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.cvF-info-child3{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.cvF-info-child3-title-holder{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 8px;
    text-align: left;
    /* width: 90%; */
}

.cvF-exp-title-holder{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
   
}

.cvF-exp-title-input{
    width: 50%;
}

.cvF-address-holder{
    margin-left: 14px;
}

.cvF-contactInfo-container{
    display: flex;
}

.cvF-contactInfo-container div{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px;
}

/* cv form personal contact information  input styles */
.cvF-phone-input{
    border: none;
    border-top: 0.5px solid grey;
    background-color: cadetblue;
}

.cvF-phone-input:focus{
    /* outline: none;
    background-color: rgba(99, 127, 128, 0.548);
    border-top: none;
    border-bottom: 0.5px solid rgb(177, 12, 12);
    border-radius: 2px; */
}


/* Experience input styles 🔽 */

.cvF-experience-div{
    /* background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%); */
    align-items: center;
    justify-content: flex-start;
}

.exp-all-container{
    display: flex;
    flex-direction: column;
}

.cvF-exp-description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.cvF-exp-date-container{
    margin: 0;
}


.cvF-exp-input-container{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: left;
  
}

.cvF-desc-child{
    display: flex;
}

.cvF-desc-child div{
    display: flex;
    flex-direction: column;
    margin: 5px;
    text-align: left;
}

.cvF-exp-desc-child{
    display: flex;
}

.cvF-exp-desc-child div{
    display: flex;
    flex-direction: column;
}

.cvF-exp-desc-child div>input{
    width: 90%;
}

/* Education div and input styles 🔽*/
.cvF-education-div{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.cvF-edu-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 90%;
    padding-left: 11px;
}

.cvF-edu-title-input{
    width: 40%;
}

.cvF-edu-description-div{
    display: flex;
    flex-direction: column;
}

.cvF-edu-date-div{
    margin-left: -10px;
}


/* Skills div styles  🔽*/
.cvF-skills-div{
    display: flex;
    align-items:center;
    justify-content: flex-start;

}

.skill-container{
    text-align: left;
    width: fit-content;
    display: flex;
    flex-direction: column;

}

.skill-parent-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
}

.skill-list{
    display: flex;
    flex-direction: column;
    height: 150px !important;
    overflow-y: auto;
    background-color: rgb(189, 189, 189);
    border-radius: 3px;
    box-shadow: inset 0 0 4px black;

}

/* Experience documet upload div Styles 🔽 */
.cvF-exp-docs{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

/* Achievements docs div 🔽*/
.cvF-achievements-div{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.doc-holder-div{
    padding: 35px 0 10px 0;
}

.cvF-submit-btn{
    width: 110px;
    height: 110px;
    border-radius: 55px;
    border: none;
    background: linear-gradient(to right, #007991, #78ffd6);
    box-shadow: inset 0 0 5px black;
    cursor: pointer;
    font-size: large;
    font-weight: lighter;
    color:rgb(212, 212, 212);
}

.cvF-submit-btn:hover{
    transform: scale(0.9);
    box-shadow: inset 0 0 20px black;
}

.back-close-window-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cvF-icn-div{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    /* clip-path: ellipse(70px 20px at 99% 79%) !important; */
}

.cvF-back-icon{
    color:dodgerblue;
    font-size: large;
    cursor: pointer;
}

.cvF-back-icon:hover{
    transform: scale(0.9);
    color: rgb(83, 169, 255);
}

.next-btn{
    width: 150px;
    padding: 5px 0;
    border-radius: 15px;
    margin-top: 15px;
    border: 0.5px solid white;
    box-shadow: inset 0 0 5px rgba(75, 41, 75, 0.644);
    color: blueviolet;
    cursor: pointer;
}

.autofill-btn{
    width: auto;
    padding: 3px 8px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
    color: rgb(81, 229, 165);
    cursor: pointer;
    margin-top: 5px;
}