.feed-main-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* background-image:linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%); */
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
}


.offers-main-div{
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.offers-list{
    width:40%;
    height: auto;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offers-detail{
    width: 53%;
    /* background-color: burlywood; */
    height: fit-content;
}

.offer-card{
    width: 100%;
    height: 30vh;
    background-color: rgb(246, 246, 246);
    margin: auto;
    margin: 5px;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 2px 2px 4px;
    border: 0.5px solid aquamarine;
}

.card-title{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -13px;
}

.card-pro-btn{
    width: 40px;
    height: 25px;
    margin-top: 2px;
    border: none;
    border-radius: 3px;
    background-color: aquamarine;
}

.card-pro-btn-off{
    background-color: rgb(164, 164, 164);
}

.detailes-preview{
    width: 100%;
    /* background-color: cornflowerblue; */
    height: 18vh;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dtl-card{
    width: 20%;
    height: 14vh;
    background-color: azure;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 2px black;
    border: 0.5px solid aquamarine;
}

.dtl-card:hover{
    transform: scale(1.1);
    
}

.card-line{
    width: 70%;
    height: 0.5px;
    background-color: aquamarine;
    margin-bottom: -11px;
}

.dtl-span{
    font-size: 8px;
}

.hours-dtl-div{
    display: flex;
    flex-direction: column;
}

.dtl-icon{
    font-size: 20px;
    padding: 5px;
}

.icon-span{
    font-size: 10px;
    font-weight: bold;
}

.hour-card{
    background-color: #1d266f;
    color: white;
}

.location-card{
    background-color: #7fc6ef;
    color: white;
}

.money-card{
    background-color: #4678d6;
    color: white;
}
.money-icon{
    color: azure;
}

.workers-card{
    background-color: #546a95;
    color: white;
}

.reply-card{
    background-color: #9fbba1;
    color: white;
}

.location-icon{
    color: white !important;
    /* background-color: white; */
}

.icon-container{
    margin-bottom: -8px;
    text-align: center;
    align-items: center;
}

.title-span{
    font-size: 18px;
    font-weight: bold;
}


.info-container{
    display: flex;
}

.info-icons{
    margin: 4px 4px 4px 0;
    font-size: 23px;
}

.date-icon{
    border-left: 10px solid #b0b8b4ff;
    border-right: 0.5px solid #b0b8b4ff;
    border-top: 0.5px solid #b0b8b4ff;
    border-bottom: 0.5px solid #b0b8b4ff;
}

.pay-icon{
    border-left: 10px solid #184a45ff;
    border-right: 0.5px solid #184a45ff;
    border-top: 0.5px solid #184a45ff;
    border-bottom: 0.5px solid #184a45ff;
}

.location2-icon{
    border-left: 10px solid #FC766AFF;
    border-right: 0.5px solid #FC766AFF;
    border-top: 0.5px solid #FC766AFF;
    border-bottom: 0.5px solid #FC766AFF;
}

.title-h4{
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.description-container{
    width: 100%;
    margin-top: 10px;
    /* overflow-y: auto; */
   
}

.description-container p{
    width: 95%;
    margin: auto;
    padding: 10px;
}

.text-container{
    padding: 0 5px;
    align-items: center;
    height: 40vh;
    overflow-y: auto;
}

.text-container::-webkit-scrollbar-thumb{
    background-color: #2ebf91;
}

.desp-div{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hori-line{
    height: 1px;
    width: 95%;
    background-color: black;
    margin: auto;
}

.offer-page{
    background-color: rgb(243, 243, 243);
    margin: 10px;
    border-radius: 10px;
    height: 90vh !important;
    /* position: fixed; */
}

.des-span{
    margin-bottom: 5px;
    font-weight: bold;
}

.emp-img-div{
    padding:0px 0 5px 5px;
}

.employer-img{
    width: 40px;
    height: 40px;
    border: 0.5px solid rgb(115, 0, 255);
    border-radius: 20px;
    background-color: black;
    padding-top: 0.1px;

}

.apply-div{
    display: flex;
    justify-content: space-between;
    padding:10px 10px;
}

.apply-div div{
    display: flex;
}

.apply-btn{
    width: 110px;
    height: 4.5vh;
    border-radius: 10px;
    border: none;
    background-color: rgb(57, 57, 255);
    color: white;
    cursor: pointer;
}

.apply-btn:hover{
    background-color: rgb(49, 49, 168);
}

.msg-btn{
    height: 3vh;
    width: 75px;
    margin: 10px;
    margin-left: 5px;
    border-radius: 3px;
    border: none;
    background-color: rgb(152, 255, 221);
    font-size: 9px;
    display: flex;
    align-items: center;
}

.pls-icon{
    font-size: 15px;
    padding: 1px;
}

.employer-content{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-top: -13px;
}

.employer-content div{
    display: flex;
    margin-bottom: 5px;

}

.phone-icon{
    padding: 4px;
    background-color: #2ebf91;
    color: white;
    border: 0.5px solid black;
    margin-right: 3px;
    border-radius: 15px;
}

.email-icon{
    padding: 4px;
    background-color: #4678d6;
    color: white;
    border: 0.5px solid black;
    margin-right: 3px;
    border-radius: 15px;
}

.offer-page{
    box-shadow: 3px 3px 6px;
    margin-top: -15px;
    width: 100%;
}

.dte-span{
    background-color: #94abf4;
    margin: 1px;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px;

}

.pmnt-span{
    background-color: rgb(95, 141, 136);
    padding: 3px;
    border-radius: 3px;
    margin: 1px;  
    box-shadow: 1px 1px 2px;
}

.adrs-span{
    background-color: #FC766AFF;
    padding: 3px;
    border-radius: 3px;
    margin: 1px;  
    box-shadow: 1px 1px 2px;
}

.app-text{
    font-size: 8px;
    color: rgb(206, 206, 206);
}

.employer-span{
    font-weight: bold;
    color: black;
}

.emp-number{
  font-size: small;
}

.emp-email{
  font-size: small;  
}

.employer-name{
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: -7px;
}
.profile-image{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    padding: 12px;
}

.invisible-div{
    background: #000;
    width: 150px;
    height: 10vh;
}

.offer-desc-page{
    position: fixed;
    width: 40%;
    top: 8%;
}