.popup-three-main{
   width: 100%;
   position: absolute;
   left: 0;
   top: 0;
   padding-top: 10px;
}

.popupThree-image{
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
    border-radius: 70px;
}

.user-contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
}

.user-contents span{
    padding: 3px;
}

.name-spn{
    font-weight: bold;
}

.creditCard-div span{
    font-size: 10px;
}

.card-icon{
    /* font-size: 10px !important; */
   height: 2.2vh !important;

}

.creditCard-div{
    display: flex;
    background-color: azure;
    width: 125px;
    height: 3vh;
    border-radius: 2px;
    box-shadow: inset 0 0 1px black;
}

.visa-spn{
    border-right: 0.5px solid grey;
}

.verfication-div{
    display: flex;
    margin-top: 10px;
}

.cercle{
    width: 25px;
    height: 25px;
    background-color: #646460;
    margin: 3px;
    border-radius: 15px;

}

.sms-msg{
    font-size: 10px;
}

.number-board{
    position: absolute;

}

.n-board-child{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 20vw;
    background-color: blanchedalmond;
}

.n-span{
    color: red;
    margin: 3px !important;
    background-color: #646460;
    display: flex;
    flex-direction: column;
}

.verify-btn-div{
 width: 100%;
 display:flex !important;
 justify-content: center;
 align-items: center;
 /* background-color: blueviolet; */
}

.verify-btn{
    width: 200px;
    margin: auto ;
    align-items: center;
    height: 4.5vh;
    border: none;
    border-radius: 55px;
    background-color: transparent;
    /* margin: 15px 0 15px 60px; */
    color: rgb(138, 149, 149);
    border: 0.5px solid black;
    box-shadow: inset 0px 0px 2px black;
}

.verify-btn:hover{
    border: 0.5px solid white;
    box-shadow: inset 0px 0px 28px rgb(64, 214, 255);
    background-color: rgb(62, 191, 255);
    color:azure;
}