
.pro-main-div{
    width: 100%;
    height: 116vh;
    padding: 0;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

}

@media(width <= 414px){
    .pro-main-div{
        width: 100%;
        height: 100%;
        /* padding-right: 20px; */
        overflow-x: hidden !important;
    }
    .pro-nav{
        width: 100vw !important;
    }
    .stng-icon{
        margin-top: -8px !important;
    }
    .icn-span{
        font-size: 10px;
    }
}

.pro-nav{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    height: 8vh;
}

.nav-child1{
    padding: 10px;
}

.pro-nav-span{
    font-family:"Aqum" cursive;
    src: url(./fonts/Aqum\ 2\ Classic.otf);
    font-size: large;
    font-weight: bold;
}

.nav-child2{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.pro-section-child3{
    /* background: #000; */
    height: 57.2vh;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    padding: 0;

}

.pro-options{
    display: flex;
    margin-bottom: 10px;
    width: 70%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 24vh;
    /* border-top-left-radius: 10px; */
}

.test-option{
    height: 17vh;
    width: 8vw;
    /* background:rgb(205, 233, 240); */
    margin: 5px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}


.opt-icon{
    font-size: 30px;
    margin-bottom: -20px;
    background-color: #e0fbfc;
    border: 1px solid orange;
    padding: 15px;
    box-shadow: 1px 5px 2px black;
    border-radius: 10px;
    background-color:lightblue;
    margin-bottom: 2px;
}

.icn-span{
    font-weight: lighter;
    color: #e0fbfc;
    /* border-bottom: 1px solid blueviolet; */
}

.ofr-icon{
    background-color:lightblue ;
    color: rgb(207, 251, 237);
}

.wrkd-icon{
    color:cornflowerblue;
}

.pro-icons{
    padding: 18px;
    width: 20px;
    height: 20px;

}

.notif-red-icon{
    color: rgb(176, 76, 216);
    font-size: 22px;
    cursor: pointer;
}

.pro-nav-button{
    margin: 15px;
    height: 3vh;
}

.pro-section{
    /* background-color: blueviolet; */
    height: 100vh;
}

.user-main-img{
    width: 160px;
    height: 160px;
    border-radius: 100px;
    margin: 5px;
}

.pro-section-div{
    margin: auto;
    width: 40%;
    text-align: center;
    padding-top: 65px;
}

.user-content{
    display: flex;
    flex-direction: column;

}

.user-content h4{
    margin: 0;
}

.user-content p{
    margin: 0;
    
}

.btn-bar{
    height: 15vh;
    /* background-color: #98c1d9; */
    width: 400px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.create-btn{
    width: 160px ;
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(82, 82, 255);
    color: white;
    margin: auto;
}

.pro-section-child1{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    padding: 10px;
    text-align: center;
  
}

.pro-section-child1 div{
    display: flex;
    flex-direction: column;
}

.pro-section-child1 label{
    padding: 5px;
}
.pro-section-child1 input{
    height: 3vh;
    border-radius: 15px;
    border: none;
    background-color: aliceblue;
    padding-left: 6px;
}

.pro-section-child1 input:focus{
    outline: none;
    /* padding: 5px; */
}

.search-icon{
    position: absolute;
    left: 98%;
    top: 14.5%;
    cursor: pointer;
}
.bgChanger-container{
    position: absolute;
    left: 80%;
    display: flex;
    flex-direction: column;
    /* background-color: #09203f !important; */
    height: auto;
}

.bgChanger{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 2px;
    border: 0.5px solid black;
    border-radius: 18px;
}

.background{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.bg1{
    background-color: #85FFBD;
        background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.bg2{
     background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.bg3{
        background-color: #08AEEA;
        background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.bg4{
    background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%)
}

.bg5{
    background-color: #3EECAC;
        background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
}

.bg6{
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
}

.bg7{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.bg8{
    background-color: #74EBD5;
        background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.bg9{
    background-color: #FAACA8;
        background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}



/* OFFER Creaction popup Form Styles 🔻*/

.offer-popUp1{
    width: 35%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    height: auto;
    position: absolute;
    left: 33%;
    top: 10%;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 3px 19px 2px black;
    padding: 0;
    border: 0.5px solid aquamarine;
  
}

.form-main-div{
    background-color: rgba(251, 251, 251, 0.449);
    padding: 25px 25px;
    box-shadow: inset 0 0 5px black;
    border-radius: 15px;

}

.offer-form-head{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 80px;
    margin-top: -10px;
}

.fill-info-span{
    font-size: 10px;
    /* font-weight: lighter; */
    color: #63bff5;
}

.form-head-span{
    font-size: 18px;
    color: rgb(90, 246, 194);
    filter: drop-shadow(1px -1px 1px black);
}

.offer-popUp1 input{
    height: 4vh;
    border: 0.5px solid aquamarine;
    border-radius: 3px;
    box-shadow: inset 0 0 5px grey;
}


.dropDown{
    position: relative;
    display: inline-block;
}

.popUp-input{
    width: 250px;
}

.dropDown-content{  
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropDown-content span{
    color: black;
    padding: 12px 16px;
    width: 68.7px;
    text-decoration: none;
    display: block;
}
.dropDown:hover .dropDown-content {
    display: block;
}

.dropDown-content span:hover {background-color: #f1f1f1}

.pro-btn{
    width: 100px;
    height: 5vh;
    border: 0.6px solid black;
    border-radius: 3px;
}

.form-title-div{
    display: flex;
    justify-content: space-between;
}


/* Offer form Date section Styles */
.desperator-div{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.desperator-div span{
    margin: 0 15px;
}

.info-box{
    background-color: aquamarine;
    height: 75% !important;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #98c1d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 250px !important;
}

.info-box p{
    font-size: 12px;
    color:#537895;
    filter: drop-shadow(1px 1px 3px #537895);
}


.vertical-line{
    width: 180px;
    height: 1px;
    background-color: black;
    margin: 10px 0;
}

.date-div-child{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.date-div-child input{
    width: 120px;
}

::placeholder{
    color: rgb(0, 73, 91);
    font-size: normal;
}

.popUp-next-btn{
    width: 300px;
    /* margin: auto ; */
    align-items: center;
    height: 4.5vh;
    border: none;
    border-radius: 13px;
    background-color: rgb(107, 107, 255);
    margin: 15px 0 15px 60px;
    
}

.close-window{
    display: flex;
    justify-content: flex-end;
    padding:0 15px;
    padding-top: 10px;
    font-size: 20px;
}

.close-icon{
    cursor: pointer;
}

.close-icon :hover{
    color: rgb(255, 0, 0);
}

.pro-btn{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.chev-down{
    font-size: 18px;
    margin-top: -2px;
}

.hours-div{
    position: absolute;
    left: 96.2%;
    top: 9%;
    display: flex;
    flex-direction: column;
    height: 43.1vh;
    padding-top: 110px;
    width: 15px;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
}

.hour-span{
    background-color: transparent;
    margin: 1px;
    width: 22px;
    text-align: center;
    border-radius: 13px;
    cursor: pointer;
    box-shadow: inset 0 0 3px black;
    color: aquamarine;
    border: 0.3px solid aquamarine;
}

.hours-close{
    color: red;
    margin-top: 3px;
}

.hours-btn{
    width: 128px;
}

.payment-options{
    position: absolute;
    top: 69.5%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;   
    width: 173px;
    height: 4vh;
    border-radius: 3px;
}

.pay-box{
    
    padding: 5px;
    width: 50px;
    text-align: center;    
    border: 0.4px solid white;
    cursor: pointer;
}

.per-hour{
    background-color: #e0fbfc;
}

.per-mission{
    background-color: #98c1d9;
}

.per-issue{
    background-color: #3d5a80;
}

.address-info{
    display: flex;
    flex-direction: column;
}

.city-input{
    width: 160px;
}

.country-input{
    width: 140px;
}

.city-country{
    display: flex;
    justify-content: space-between;
}

.city-country div{
    display: flex;
    flex-direction: column;
}

.postal-code-input{
    width: 110px;
}