.srch-popup{
    background-image:linear-gradient( 135deg, #92FFC0 10%, #002661 100%);;
    background-size: 300%;
    animation: bg-animation 10s infinite alternate;
    width: 140px;
    text-align: center;
    height: 200px;
    align-items: center;
    margin: auto;
    border-radius: 70px;
    clip-path: ellipse(800px 80px at 0% 0%);
    position: fixed;
    left: 42%;
    top: 94%;
    display: flex;
    padding-top: 8px;
    cursor: pointer;
}

@keyframes bg-animation {
    0%{background-position: left;}
    90%{color: aliceblue;}
    100%{background-position: right;}
}

@media(width<=414px){
    .srch-footer{
        width: 100% !important;
        margin-left: -24%;
    }
    .srch-container-child2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .selector{
        margin: 2px !important;
    }
    .srch-frwd-icon{
        margin-top: 40px !important;
        margin-left: -10px !important;
    }
}

.srch-footer{
    width: 45%;
    height: 12vh;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    position: fixed;
    top: 87.9%;
    left: 24%;
    padding: 0;
    border-radius: 100px;
    border: 1px solid rgb(103, 193, 163);
}

.search-container{
   width: 65%;
   margin-top: 15px;
   display: flex;
   justify-content: center;
   flex-direction:column ;
   margin: auto;
   margin-top: 7px;
   text-align: center;
}

.srch-container-child2{
    display: flex;
    margin-top: 10px;
}

.srch-input{
    width: 200px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid rgb(103, 193, 163);
}

.srch-input:focus{
    outline: none;
    transform: scale(0.9);
}

.srch-header{
    margin-bottom: 10px !important;
    padding: 0;
    color: aquamarine;
}

.close-icon-div{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding-left: 10px;
    
}

.srch-close-icon{
    /* background-color: rgba(253, 95, 95, 0.379); */
    width: 93px;
    height: 93px;
    border-radius: 55px;
    opacity: 0.3;
    color: red;
    cursor: pointer;
}

.srch-frwd-icon{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background: rgba(127, 255, 212, 0.378); */
    border-radius: 55px;
    width: 93px;
    height: 89px;
    opacity: 0.3;
    color: rgb(32, 255, 143);
    cursor: pointer;
    margin-top: 1px;
    margin-right: 10px;
}

.selector{
    margin: 0 10px;
    background-image: linear-gradient( 110.5deg,  rgba(71,114,148,1) 14.9%, rgba(149,245,211,1) 77.9% );
    width: 55px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 0.5px solid aquamarine;
    color: white;
}